################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/dist
/node_modules
/obj/Debug
/server.js
/src/app.js
*.map
